.containerLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}

.formLogin {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonSection {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
