body,
html {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e1e1e1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  background-color: white;
  border-radius: 1em;
  border: none;
  padding: 1em 3em;
}

button {
  border: none;
  background-color: #5db075;
  color: white;
  border-radius: 2em;
  padding: 2vh 4vh;
}

.linhaHorizontal {
  width: 85%;
  height: 1px;
  background: #6536a3;
}
